.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}


.login-form{width:100%;max-width:320px;margin:10px auto;padding: 30px;background: rgba(255,255,255,.5);border-radius: 10px;}
.login-form .form-control{
    background: rgba(0,0,0,.05);
    border-color: transparent;
}
.login-bg{
    background:url(../img/bg/bg.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 100%;
}
.btn-social{width:45%;position: relative;
    float: left;}
.btn-social:last-child{margin-left: 10%}
.mobile-code {
    width: 45%;
    float: left;
}
.send-code{
    width: 40%;
    float: right;
}